/*css*/

a{
	text-decoration:none;
	color:white;
	display:block;
	
}

li{
	border-style:solid;
	display:inline-block;
	background-color:black;
	width:200px;
	height:70px;
	text-align:center;
	font-size:15px;
	font-family:verdana;
	
}

ul{
	text-align:right;
}

.bg{
	background-image:url('../images/car.jpg');
	height:630px;
	background-repeat:no-repeat;
	background-size:100%;
	background-position:center;
	background-attachment:fixed;

}